<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- Reference: ../../welcome/views/layout.html -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{<=T.accepted_language or 'en'>}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{<=T.accepted_language or 'en'>}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{<=T.accepted_language or 'en'>}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{<=T.accepted_language or 'en'>}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{<=T.accepted_language or 'en'>}"> <!--<![endif]-->
  <!--
      This is a web2py view layout. Any view "extend'ing" this layout needs to
      substitute "block's" in this file with view-specific contents.
    -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SplunkJS Test: {<=title if 'title' in globals() else 'Untitled'>}</title>

    {<include 'splunkjs.html'>}
  </head>

  <body>
    {<include>}
  </body>

  {<block splunkjs_config>}
  {<end>}
</html>
